<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="ERROR">
    <Properties>
        <Property name="filename">../logs/server.log</Property>
        <Property name="filePattern">../logs/server-%d{yyyy-MM-dd}-%i.log</Property>
        <Property name="appfilename">../logs/app.log</Property>
        <Property name="appfilePattern">../logs/app-%d{yyyy-MM-dd}-%i.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="com.example" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="org.apache.http" level="ERROR"/>
        <logger name="org.apache.coyote" level="ERROR"/>
        <logger name="org.apache.http.wire" level="ERROR"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.apache.catalina" level="INFO"/>
        <logger name="io.micrometer" level="ERROR"/>
        <logger name="sun.net.www" level="ERROR"/>
    </Loggers>
</Configuration>